.form {
    &__group {
        margin-bottom: 12px;
    }

    &__label {
        font-size: 14px;
        color: #7f8fa4;
        display: block;
        margin-bottom: 6px;
    }

    &__field {
        height: 36px;
        width: 100%;
        border: solid 1px #dfe3e9;
        border-radius: 4px;
        padding: 0 rem(13px);
        font-size: 14px;
        transition: border-color $transition-time;

        &:focus {
            border-color: #9b9fa5;
        }
    }

    &__content {
        margin-bottom: rem(32px);
    }

    &__footer {
        text-align: center;
    }
}
