.modal-auth {
    max-width: 440px;

    .modal-content {
        padding: rem(40px) rem(50px) rem(48px);
        text-align: center;
    }

    &__title {
        font-size: 24px;
        margin-bottom: rem(32px);
        color: #2c3549;
        font-weight: 600;
        letter-spacing: 0;
    }

    &__subtitle {
        font-size: 14px;
        line-height: 1.2857;
        font-weight: 400;
        color: #2c3549;
        opacity: 0.5;
        display: inline-block;
        padding-top: rem(25px);
    }

    .form {
        text-align: left;
    }

    .info-block {
        &__status-icon {
            margin-bottom: rem(16px);

            [class^="i-"] {
                width: rem(48px);
                height: rem(48px);
                margin: auto;
                display: block;
            }

            .i-success {
                background: url("/images/success.svg") no-repeat center/contain;
            }

            .i-fail {
                background: url("/images/fail.svg") no-repeat center/contain;
            }
        }

        &__title {
            font-size: 16px;
            margin-bottom: 0;
            color: #2c3549;
            font-weight: 600;
            letter-spacing: 0;
        }

        &__subtitle {
            font-size: 12px;
            line-height: 1.25;
            display: inline-block;
            padding-top: rem(8px);
            font-weight: 400;
            color: #2c3549;
            opacity: 0.5;
        }

        &__footer {
            margin-top: rem(24px);
            text-align: center;
        }
    }
}

@media (max-width: $screen-md-max) {
    .modal-auth {
        max-width: 380px;
    }
}

@media (max-width: $screen-sm-max) {
    .modal {
        padding-right: 0 !important;
    }
    .modal-auth {
        max-width: 300px;
        margin: auto;

        &__title {
            font-size: 22px;
        }

         &__subtitle {
             font-size: 12px;
         }
    }
}
