// Clearfix
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Pixels to Rems
@function rem($value) {
    @return $value / $font-size-base+rem;
}

// Font Size in Rems
@mixin font-size($value, $content:null) {
    font-size: $value $content;
    font-size: rem($value) $content;
}
